@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

$primary-font: 'Rubik', sans-serif;
$main-black: #0B132A;
$orange-primary: #FFA363;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: $primary-font;
    color: $main-black;
    transition: all .3s;
}

img{
    display: block;
    max-width: 100%;
}

body{
    scroll-behavior: smooth;
}

.App{
    width: 100%;
    height: 100%;
}

.container{
    max-width: 960px;
    margin: 0 auto;
}

.primaryButton{
    width: 10rem;
    height: 3rem;
    padding: 1rem;
    background-color: $orange-primary;
    color: $main-black;
    border-radius: 3px;
    transition: all .3s;
    text-align: center;
    &:hover{
        background-color: $main-black;
        color: $orange-primary;
        cursor: pointer;
    }
}

